body {
  margin: 0;
  padding: 0;
  background: #282c4d;
}
body .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .container span {
  color: rgba(255,255,128,0.7);
  font-size: 4em;
  font-family: 'Arial';
  display: inline-block;
  animation: animation 2s infinite;
}
@-moz-keyframes animation {
  0% {
    color: rgba(255,255,128,0.1);
  }
  35% {
    color: #ffff80;
    transform: translateY(-3rem);
    margin-left: 1rem;
    text-shadow: 0 3rem 1rem #000;
  }
  100% {
    color: rgba(255,255,128,0.7);
  }
}
@-webkit-keyframes animation {
  0% {
    color: rgba(255,255,128,0.1);
  }
  35% {
    color: #ffff80;
    transform: translateY(-3rem);
    margin-left: 1rem;
    text-shadow: 0 3rem 1rem #000;
  }
  100% {
    color: rgba(255,255,128,0.7);
  }
}
@-o-keyframes animation {
  0% {
    color: rgba(255,255,128,0.1);
  }
  35% {
    color: #ffff80;
    transform: translateY(-3rem);
    margin-left: 1rem;
    text-shadow: 0 3rem 1rem #000;
  }
  100% {
    color: rgba(255,255,128,0.7);
  }
}
@keyframes animation {
  0% {
    color: rgba(255,255,128,0.1);
  }
  35% {
    color: #ffff80;
    transform: translateY(-3rem);
    margin-left: 1rem;
    text-shadow: 0 3rem 1rem #000;
  }
  100% {
    color: rgba(255,255,128,0.7);
  }
}
body .container :nth-child(1) {
  animation-delay: 0.1s;
}
body .container :nth-child(2) {
  animation-delay: 0.2s;
}
body .container :nth-child(3) {
  animation-delay: 0.3s;
}
body .container :nth-child(4) {
  animation-delay: 0.4s;
}
body .container :nth-child(5) {
  animation-delay: 0.5s;
}
body .container :nth-child(6) {
  animation-delay: 0.6s;
}
body .container :nth-child(7) {
  animation-delay: 0.7s;
}
