@import "./variables/text-style.styl"
@import "./variables/color-background.styl"

reset-margin-padding()
    margin 0
    padding 0

body-background()
    background color-background

position-center()
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)

constainer-text-style()
    color color-text 
    font-size font-size-text 
    font-family font-style 





