colorCycleOne = rgba(255, 255, 128,.1)
colorCycleFhree = rgba(255, 255, 128,.7)
colorCycleTwo = rgb(255, 255, 128)
textShadow = 0 3rem 1rem rgba(0,0,0,1)

animationMainInterval = 2s
animationLetterInterval = 0.1
transformEnd-up = -3rem
marginLeftFinish = 1rem

