@require "./mixins.styl"
@require "./animation/animation.styl"

body
    reset-margin-padding()
    body-background()
    .container
        position-center()
        span 
            constainer-text-style()
            span-style()
            main-animation()
            animation-move()
        animation-delay()



