@require "./*"

main-animation()
    display inline-block
    animation animation animationMainInterval  infinite

animation-move()
    @keyframes animation {
        0%{
            color-cycle-1()
        }
        35%{
            color-cycle-2()
            transform-end-up()
            margin-left()
            text-shadow()
        }
        100%{
            color-cycle-3()
        }

    }

animation-delay()
    interval = 0
    for n in (1..7)
        interval += animationLetterInterval
        :nth-child({n})
            animation-delay interval s

