@import './variables.styl'
    
color-cycle-1()
    color colorCycleOne

color-cycle-2()
    color colorCycleTwo

color-cycle-3()
    color colorCycleFhree

transform-start()
    transform translateY(transform-start)

transform-end-up()
    transform translateY(transformEnd-up)

margin-left()
    margin-left: marginLeftFinish

text-shadow()
    text-shadow textShadow


